body{
	background-color: #EFF0FB;
}

.web-header{
	background-color: #9096E0;
}

nav{
	background-color: #DA81D4;
}

aside{
	background-color: #EDC0EA;
	float: left;
	height: 1100px;
}

section{
	background-color: #DBF1D0;
	margin-left: 160px;
	padding-left: 15px;
	padding-top: 15px;
}

.web-footer{
	background-color: #9FD981;
	clear: both;
	margin-top: 50px;
}
li{
	background-color: #CDA1E3;
	display: inline;
}
li:nth-child(2){
	background-color: red;
}


p[name="atributo"]{
	color:green;
}