body{
	background-color: #EFF0FB;
	font: Verdana, sans-serif;
}

.web-header{
	/*background-color: #9096E0;*/
	width: 500px;
	text-align: center;
	margin: 15px auto;
	padding: 7px;
	/*border: 3px solid #9038BC;*/
	border-radius: 10px 10px 10px 40px;
	box-shadow: #999 5px 5px 8px;
	background: -moz-linear-gradient(top,#9B9FD4,#707AFF);
	background: -webkit-radial-gradient(center, ellipse,#9B9FD4,#707AFF);
	background: -ms-linear-gradient(top,#9B9FD4,#707AFF);
	/*outline: 2px dashed blue;
	outline-offset: 5px;*/
	/*-webkit-transform:scale(0.8, -1);*/	
	-webkit-transform:rotate(360deg);
	/*-webkit-transform:skew(-20deg);*/
	-webkit-transition:-webkit-transform 5s ease 0.5;
}

.web-header:hover{
	/*-webkit-transform:rotate(3deg);*/
	

}

.titulo{
	font: 3.4rem 'Mi Fuente', Verdana, sans-serif;
	text-shadow: #999 3px 3px 10px;
	color:rgba(0,0,0,0.9);
}

@font-face{
	font-family: 'Mi Fuente';
	src:url('Mathilde.ttf');
}

nav{
	background-color: #DA81D4;
}

aside{
	background-color: #EDC0EA;
	float: left;
	height: 1100px;
}

section{
	background-color: #DBF1D0;
	margin-left: 160px;
	padding-left: 15px;
	padding-top: 15px;
}

.web-footer{
	background-color: #9FD981;
	clear: both;
	margin-top: 50px;
}
li{
	background-color: #CDA1E3;
	display: inline;
}
li:nth-child(even){
	background-color: red;
}


p[name="atributo"]{
	color:green;
}